/.vs/
*.opensdf
*.sdf
*.vcxproj.filters
*.vcxproj.user
*.opendb
*.vc.db
*.ipch
*.log
*.suo
/ipch/
/obj/
/lib/
*.pdb
*.ipdb
*.iobj
*.ilk
*_debug.exe
/bin/x64/shaders/
/bin/Win32/shaders/
/src/ObjSceneConverter/output