/.vs/
/src/.vs/
/src/packages/
sh.exe.stackdump
*.opensdf
*.sdf
*.vcxproj.user
*.opendb
*.vc.db
*.ipch
*.log
*.suo
/ipch/
/obj/
/lib/
*.pdb
*.ipdb
*.iobj
*.ilk
*_debug.exe
/bin/win32/
/bin/data/
/bin/shaders/
/src/ObjSceneConverter/output
bin/AssetBinService.exe
bin/ObjSceneConverter.exe
bin/RenderLabEditor.exe
bin/RenderLabStandalone.exe
bin/TextSDF.exe
bin/AssetImporter.exe
user.config

/bin/PhysX*
/bin/nvToolsExt64_1.dll
/bin/glut32.dll
